<div class="scroll-up-btn">
    <i class="fas fa-angle-up"></i>
</div>
<nav class="navbar ">
    <div class="max-width">
        <div class="logo"><a href="#">Bala<span>ji.&nbsp;&nbsp;</span></a></div>
        <ul class="menu">
            <li><a href="#home" class="menu-btn">Home</a></li>
            <li><a href="#about" class="menu-btn">About</a></li>
            <li><a href="#experience" class="ment-btn">Experience</a></li>
            <li><a href="#skills" class="menu-btn">Skills</a></li>
            <li><a href="#contact" class="menu-btn">Contact</a></li>
        </ul>
        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>

<!-- home section start -->
<section class="home " id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Hello, my name is</div>
            <div class="text-2">Balaji A</div>
            <div class="text-3">And I'm a <span class="typing"></span></div>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a>
        </div>
        <img _ngcontent-vwb-c11="" class="profile-image" src="../assets/images/1657089628118.jpg" alt="Image">
    </div>
    
</section><br><br><br>

<!-- about section start -->
<section class="about glass-effect" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img class="image border" src="../assets/images/balaji.jpg"  alt="">
            </div>
            <div class="column right">
                <div class="text">I'm Balaji and I'm a <span class="typing-2"></span></div>
                <p>From a young age, I've always had a sense of motivation and passion driving me forward. Whether it’s exploring unique opportunities, learning additional skills, or meeting new people, I bring these values to every experience throughout my life on a personal and professional level.</p>
                <br>
                <p>Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.</p> 
                <br>
                <p>To learn more about me, keep exploring my site or reach out directly.</p>
                <a class="btn btn-primary"href="https://drive.google.com/file/d/1DkdynoaqDbZImFtQFYnoPEPm37lOrytK/view" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
            </div>
        </div>
    </div>
</section><br><br><br>



<!--Experience Section Start -->
 <section class="exp glass-effect" id="experience">
    <div class="max-width">
        <h2 class="title">Work Experience</h2>
        <div class="about-content">
            <div class="column left">
                <div class="company">Cognizant Technology Solutions</div>
                <p class="role">Programmer Analyst Trainee(2022-02 - Present)</p>
                Cognizant is an American multinational information technology services and consulting company.
                <p>Working as a MEAN Stack Developer</p>&nbsp;
            </div>
            <div class="column right">
               
                <p class="tech">Technologies and Language</p>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>AngularJs</li>
                <li>NodeJs</li>
                <li>ExpressJs</li>
                <li>MongoDB</li></div>
        </div>
    </div>
</section><br><br><br>


               

                
           



<!-- skills section start -->
<section class="skills glass-effect" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">Front-End</div>
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>70%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>60%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>AngularJs 13</span>
                        <span>60%</span>
                    </div>
                    <div class="line AngularJs13"></div>
                </div>
            </div>
            <div class="column right">
                <div class="text">Back-End</div>
                <div class="bars">
                    <div class="info">
                        <span>Node.js</span>
                        <span>70%</span>
                    </div>
                    <div class="line node"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>ExpressJs</span>
                        <span>60%</span>
                    </div>
                    <div class="line express"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>MongoDB</span>
                        <span>80%</span>
                    </div>
                    <div class="line mongo"></div>
                </div>
                
            </div>
        </div>
    </div>
</section><br><br><br>




<!-- contact section start -->
 <section class="contact glass-effect" id="contact">
    <div class="max-width">
        <h2 class="title">Contact me</h2>
        <div class="contact-content">
            <div class="column left">
                <div class="text">Get in Touch</div>
                <div class="icons">
                    <div class="row">
                        <div class="info">
                            <div class="head"><i class="fas fa-mobile"></i> &nbsp;&nbsp;&nbsp; Phone</div>
                            <div class="sub-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;6374133573</div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="info">
                            <div class="head"><i class="fas fa-envelope"></i> &nbsp;&nbsp;Email</div>
                            <div class="sub-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;balajiminnal1@gmail.com</div>
                        </div>
                    </div><br><br>

                    
               

                </div>
            </div>
            <div class="column right">
                <div class="text">Message me</div>
                <form action="mailto:balajiminnal1@gmail.com" method="post" enctype="text/plain" >
                    <div class="fields">
                        <div class="field name">
                            <input type="text" placeholder="Name" required>
                        </div>
                        <div class="field email">
                            <input type="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Subject" required>
                    </div>
                    <div class="field textarea">
                        <textarea cols="30" rows="10" placeholder="Message.." required></textarea>
                    </div>
                    <div class="button-area">
                        <button type="submit" name="submit" value="submit">Send message</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</section> <br><br><br>



<!-- footer section start -->

<footer>
    <div class="icon">
                       
        <a class="btn btn-white btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/balaji-a-46bbba220/" target="_blank" rel="tooltip" title="follow me on linkedin"><i class="fab fa-linkedin"></i></a>
        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/balaji00525" target="_blank" rel="tooltip" title="follow me on github"><i class="fab fa-github"></i></a>
        <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="follow me on facebook"><i class="fab fa-facebook"></i></a>
        <a class="btn btn-default btn-round btn-lg btn-icon" href="#" target="_blank" rel="tooltip" title="follow me on twitter"><i class="fab fa-twitter"></i></a>
</div>
    <span>Created By <a href="">Balaji</a> | <span class="far fa-copyright"></span> 2022 All rights reserved.</span>
</footer>